body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #343a40;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    overflow: hidden; /* Impede a rolagem */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    text-align: center;
    margin-bottom: 20px; /* Espaço entre o texto e os carros/pista */
}

.container {
    position: relative;
    width: 500px;  /* Largura da pista */
    height: 300px; /* Altura da pista */
    display: flex;
    justify-content: center;
    align-items: center;
}

.track {
    background-image: url(assets/img/track.gif); /* Caminho da sua GIF da pista */
    width: 600px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#white, #red {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%; /* Centraliza os carros verticalmente dentro da pista */
    transform: translateY(-50%); /* Compensa a altura dos carros para centralizar */
    transition: transform 0.1s ease-in-out;
}

#white {
    width: 60px;
    height: 60px;
    left: 180px; /* Posição do carro branco */
    background-image: url(assets/img/white_lotus.png);
    z-index: 3;
}

#red {
    width: 55px;
    height: 55px;
    left: 265px; /* Posição do carro vermelho */
    background-image: url(assets/img/red_jaguar.png);
    z-index: 3;
}

#result {
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn_circle_1, .btn_circle_2, .btn {
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.btn {
    height: 20px;
    width: 120px;
    text-align: center;
    display: none;  
}

.btn_circle_1 {
    background-color: white;
    height: 20px;
    width: 20px;
}

.btn_circle_2 {
    background-color: DarkRed;
    height: 20px;
    width: 20px;
}

/* Rodapé fixo */
footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: lightgray;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Estilo para ícones sociais */
.social-icons {
    text-align: center;
    margin-bottom: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
    margin: 0 5px;
    cursor: pointer;
}
